
{% extends 'Home.html' %}
{% block aboutMe %}
{% load static %}
<!--
<div class="container-fluid" id="aboutMe">
    <div class="border-bottom">
        <h2>About <span class="text-warning">Me</span></h2>
        <p>My name is Kgatle Johannes Matome. I’m a BSc Mathematical Sciences student majoring in Mathematical Statistics and Computer sciences.</p>
    </div>
    <div class="mt-3">
        <h3>Student</h3>
        <p>I'm a student at the University of Limpopo, Limpopo. Prior to enrolling as a student i went to St Francis Catholic Academy(High School).
            I enrolled for a 3 year degree, BSc Mathematical Sciences in 2018 and majored in Mathematical Statistic and Computer Sciences. During the
            3 year period i have been part of an innovative organization know as Kintelligence, where i was part of the coding team in the development
            of small projects for the organization.</p>
    </div>
    <div class="mt-3">
        <h3>Skills</h3>
        <ul>
            <li>Web Design</li>
            <li>Web Development</li>
        </ul>
        <p>I have passion for software development, i have been learning and developing my programming skills even outside of the classroom. I have knowledge of <Strong>Javascript, Python, Bootstrap, HTML and CSS </Strong> . I am pursuing a path to becoming a full stack Python developer. Python frameworks am familiar with includes flask and django.
    I love to solve problems and get things done, learn and I continually seek to understand the world I live in.
    This is my personal website where I plan to write about the things I’m interested in, share what I’m learning and give updates on the interesting work and projects I’m involved in.</p>
    </div>
    <div>
        <h1></h1>
    </div>
</div>
-->

{% endblock %}